/**
    @author Moses Gitau

    Main styles for the Maintenance Tracker App
 */

body {
    background: #fafbfc;
}

.padded {
    padding: 2em;
}

.center.aligned {
    width: 100%;
    text-align: center;
}

.center {
    margin: auto;
}

a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
}

.padded.left {
    padding: 0 0 0 2em;
}

.purple.button {
    background-color: #673AB7;
}

.teal.button {
    background-color: #009688;
}

.blue-grey.button {
    background-color: #607D8B;
}

.pink.button {
    background-color: #E91E63;
}

.request.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
}

.request.button > button {
    color: white;
}

.divider {
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    width: 100%;
    text-align: center;
}

table img {
    margin: auto;
}

/* Responsiveness */
/* For Mobile */
@media only screen and (max-width: 767px) {
    .request.button > button {
        font-size: 1.2em !important;
    }

    .request.button .title {
        font-weight: normal;
    }
}